*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: auto;
    background-image: linear-gradient(to right, red, blue);
}

.btn{
    outline: none;
    border: .1px solid #fff;
    padding: 18px;

    font-size: 18px;
    font-weight: 700;
    color:rgba(0, 0, 0, .75);
    background-color: rgba(225, 225, 225, .75);

    cursor: pointer;
}

.calculator{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.screen{
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, .75);
    padding: 10px 8px;
    text-align: right;
}

.operand--1{
    color:rgba(225, 225, 225, .75);
    font-size: 18px;
}
.operand--2{
    color:rgba(225, 225, 225, .95);
    align-self: bottom;
    font-size: 30px;
}

.btn-allclear,
.btn-result{
    grid-column: span 2;
}


